#section-top {
    height: 100vh;
    display: grid;
    grid-template-columns: 140px 1fr 1fr 1fr 1fr;
    grid-template-rows: 266px 100px 100px 100px 100px;
    grid-template-areas: '. . title . .' '. title . . .' '. . . . .' '. . . . .' '. . . . .';
    grid-gap: 0px;
}

.220-blue {
    color: #00e7ff;
    font-style: normal;
}

.220-blue {
    color: #00fffc;
    font-style: normal;
}

.blue {
    color: #00cbff;
    font-style: normal;
}

.blue {
}

#main-title {
    grid-area: 2 / 1 / 3 / 3;
}

#logo {
    font-style: italic;
    text-align: center;
    margin-top: 0px;
    grid-area: 1 / 1 / 1 / 6;
}

#logo {
    font-style: italic;
    text-align: center;
    margin-top: 0px;
    grid-area: 1 / 1 / 1 / 6;
}

#logo {
    grid-area: 1 / 1 / 2 / 6;
    text-align: center;
    margin-top: 0px;
}

.logo {
    grid-area: 1 / 1 / 2 / 6;
    text-align: center;
    margin-top: 0px;
}

@media (max-width:869px) {
    #section-top {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 30% 20% 100px 1fr;
    }

    .title {
        font-size: 27px;
        grid-area: 2 / 1 / 3 / 4;
        text-align: center;
    }

    .join-us-button {
        font-size: 28px;
        border: 2px solid #00bbff;
        background-color: #00bbff;
        color: #ffffff;
        grid-area: 3 / 2 / 4 / 3;
        width: 100%;
        height: 100%;
    }
}

.join-us {
    border: 2px solid #00bbff;
    font-size: 29px;
    background-color: #00bbff;
    color: #ffffff;
}

.title {
    font-size: 34px;
}

@media (max-width:869px) {
}

@media (min-width:870px) {
    .join-us {
        height: 70%;
        width: 90%;
        align-self: center;
        margin-left: 80px;
        font-size: 37px;
    }

    .title {
        text-align: left;
        grid: 2 / 2 / 3 / 4;
        grid-area: 2 / 2 / 3 / 4;
    }
}